.uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #b7bac1b8;
    background-color: transparent;
    padding: 10px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 0.2s;

    color: var(--text);
    border-radius: 5px;
    cursor: pointer;

    font-size: 12px;
    font-weight: bold;
    color: #d3d3d3;
}

.uploadBtn:hover {
    background-color: #b7bac16e;
}
