.mainImgContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    margin-block: 1rem;
}

.mainImgContainer img {
    width: 300px;
    border-radius: 10px;
}

.imgContainer {
    position: relative;
}
.imgContainer button {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0 0 5px 1px black;
    transition: opacity 200ms ease;
}

.imgContainer:hover button,
.imgContainer button:focus {
    opacity: 1;
}
.btnContainer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.btnContainer button {
    padding-block: 0.8rem !important;
    padding-inline: 2rem !important;
}
