.container {
    height: 520px;
    background-color: var(--bgSoft);
    padding: 48px;
    border-radius: 10px;
}

.title {
    font-weight: 300;
    color: var(--textSoft);
    margin-bottom: 8px;
}

.subtext {
    margin-bottom: 20px;
    font-weight: 200;
}
