.container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.textContainer {
    display: block;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--bg);
}

.container > div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.container > div > label {
    margin-bottom: 0;
}

.container > div > input {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    width: 8rem;
    height: 2rem;
}
