.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(237, 237, 237);
}

.name {
    padding: 3px 0;
}

.email {
    padding-bottom: 30px;
}

.title {
    padding-bottom: 5px;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}

.link {
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.link:hover {
    text-decoration: underline;
}
