/* Modal styles */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
}

.modalContent {
    background-color: var(--bg);
    margin: 10% auto; /* Adjust the modal margin */
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 8px;
    color: #333;
    font-size: 14px;

    transition: opacity 0.3s ease; /* Smooth transition */
    backdrop-filter: blur(5px); /* Creates a frosted glass effect */
}

.quote {
    background-color: var(--bgSoft);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid teal;
    color: var(--textSoft);
}

.quote h2 {
    font-size: 12px;
    margin-bottom: 5px;
}

.quote p {
    font-size: 12px;
    font-weight: 300;
}

.form {
    margin-top: 20px;
}

.form label {
    color: var(--textSoft);
}

.textarea {
    width: 100%;
    resize: none; /* Disable textarea resizing */
    height: 150px; /* Adjust the height as needed */
    margin: 10px 0;
    border-radius: 5px;

    background-color: #2e374a;
    border: none;

    color: #fff;

    padding: 10px;
    font-family: "Inter", sans-serif;
}

.subject {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #2e374a;
    border: none;

    color: #fff;

    padding: 10px;
}

.sendBtn {
    padding: 8px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: teal;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.sendBtn:hover {
    background-color: #015959;
}

.modalContent span {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    color: #fff;

    transition: 0.2s;
}

.modalContent span:hover {
    background-color: #2e374a;
}

.modalContent span p {
    font-size: 24px;
}

.close:hover {
    color: #555; /* Change color on hover */
}

.button {
    background-color: #2e374a;
    color: var(--textSoft);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;

    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #29334b;
    color: #fff;
}

.message {
    margin-top: 20px;
    color: #eccc68;
}

.categoriesSelect {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    width: max-content;

    background-color: #2e374a;
    color: var(--text);

    outline: none;
    border: none;

    margin-top: 10px;

    cursor: pointer;
}
