@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: white;
    --textSoft: #b7bac1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
