form .addPrereqBtn {
    border: 2px solid #b7bac1b8;
    background-color: transparent;
    padding: 15px;
    width: 12%;
    margin-bottom: 20px;
    transition: 0.2s;

    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

form .addFeatureBtn:hover {
    background-color: #b7bac16e;
}

form .prerequisiteItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .removePrereqBtn {
    cursor: pointer;
    color: #e84118;
}
