.container {
    display: flex;
    gap: 1rem;
}
.flex {
    display: flex;
    flex-direction: column;
}
.flex > * + * {
    border-top: 2px solid white;
}
.flex > div {
    padding-block: 2rem;
}

.messageContainer {
    display: flex;
    justify-content: space-between;
}
.contentContainer > div {
    display: flex;
    gap: 0.5rem;
}
.name {
    text-transform: capitalize;
    white-space: nowrap;
}
.contentContainer svg {
    margin-top: 2px;
}
.category {
    padding: 0.2rem 0.5rem;
    background-color: var(--bg);
    border-radius: 2px;
}
.contentContainer p {
    display: block;
    margin-block-start: 1rem;
    font-size: 0.85rem;
    opacity: 0.8;
}
.contentContainer > span {
    display: block;
    font-size: 0.85rem;
    margin-block-start: 0.5rem;
}
.contentContainer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.dateTimeContainer span {
    display: block;
    text-align: end;
    white-space: nowrap;
}

.btnContainer {
    margin-block-start: 1rem;
}
