.button {
    padding: 10px 20px;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contentContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addButton {
    background-color: teal;
}

.removeButton {
    height: fit-content;
    display: inline-block;
    background-color: rgb(228, 75, 75);
}
