.form {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form input {
    width: 100%;
    padding: 30px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}

.form button {
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.forgot {
    font-size: 14px;
    text-decoration: underline;
    color: #cccccc;
    transition: 0.2s;
    text-align: left;
}

.forgot:hover {
    color: #fff;
}

.passwordInput {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.showBtn {
    position: absolute;
    right: 1px;
    top: 50%;
    padding: 27px;
    transform: translateY(-50%);
    background-color: var(--bg);
    border-radius: 5px;
    cursor: pointer;

    font-size: 18px;

    transition: 0.2s;
}

.showBtn:hover {
    background-color: var(--bgSoft);
}
